
# Folders
/journeymap/
/crash-reports/
/.mixin.out/
/logs/
/saves/
/Server_Items/
/resourcepacks/
/mods/
/.github/

# Client Configs
config/InvTweaks.cfg
.curseclient
Run Me.lnk
minecraftinstance.json
config/brandon3055/contributors.json
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
crafttweaker.log
