
# Folders
/journeymap/
/crash-reports/
/.mixin.out/
/downloads/
/logs/
/saves/
/Server_Items/
/resourcepacks/
/mods/1.12.2-sub/
/mods/memory_repo/
/.github/
/llibrary/

# Client Configs
config/InvTweaks.cfg
.curseclient
minecraftinstance.json
config/brandon3055/contributors.json
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
crafttweaker.log
