
# Folders
/journeymap/
/crash-reports/
/.mixin.out/
/logs/
/saves/
/Server_Items/
/resourcepacks/
/mods/
/.github/
/llibrary/

# Client Configs
config/InvTweaks.cfg
.curseclient
minecraftinstance.json
config/brandon3055/contributors.json
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
crafttweaker.log

# Allowed items
!GalacticraftCore-1.12.2-4.0.2.280.jar
!Galacticraft-Planets-1.12.2-4.0.2.280.jar
!MicdoodleCore-1.12.2-4.0.2.280.jar
