# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:APPENG <APPENG:APPENG.cfg>
    S:BOBMOWZIE <BOBMOWZIE:BOBMOWZIE.cfg>
    S:BRANDON3055 <BRANDON3055:BRANDON3055.cfg>
    S:BUUZ135 <BUUZ135:BUUZ135.cfg>
    S:COFH <COFH:COFH.cfg>
    S:COROUTIL <COROUTIL:COROUTIL.cfg>
    S:DE <DE:DE.cfg>
    S:FATHERTOAST <FATHERTOAST:FATHERTOAST.cfg>
    S:GANYMEDES01 <GANYMEDES01:GANYMEDES01.cfg>
    S:GILDEDGAMES <GILDEDGAMES:GILDEDGAMES.cfg>
    S:INVENTORYPETS <INVENTORYPETS:INVENTORYPETS.cfg>
    S:LOGICTECHCORP <LOGICTECHCORP:LOGICTECHCORP.cfg>
    S:LOTHRAZAR <LOTHRAZAR:LOTHRAZAR.cfg>
    S:MEKANISM <MEKANISM:MEKANISM.cfg>
    S:MICDOODLE8 <MICDOODLE8:MICDOODLE8.cfg>
    S:MJR <MJR:MJR.cfg>
    S:OPENBLOCKS <OPENBLOCKS:OPENBLOCKS.cfg>
    S:SHINOOW <SHINOOW:SHINOOW.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


